*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 96px;
    background-color: rgba(83, 0, 200, 1);

    box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.24);
}

header img{
    width: 138px;
}

header h1{
    color: white;
    text-align: center;
    font-size: 24px;
}

main{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 20px;
}

main h2{
    text-align: center;
    font-size: 24px;
}

main section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 800px;
    padding: 40px;
}

div.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 80vh;
    padding: 15px;
    box-shadow: -12px 10px 5.8px 0px rgba(0, 0, 0, 0.25);
}

div.card-container h3{
    position: relative;
    font-family: 'IBM Plex Mono';
    align-self: center;
    left: 50%;
    transform: translatex(-50%);
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

div.card-container div.card-container--info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 258px;
    width: 196px;
    border: 3px solid black;
    border-radius: 10px;
    background: rgba(93, 4, 217, 1);
    color: white;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: -5px 6px 3.3px 0px rgba(0, 0, 0, 0.25);
}

div.card-container div.card-container--info p{
    font-family: 'IBM Plex Mono';
}

div.card-container img.card-container--image{
    align-self: center;
    height: 174px;
    width: 176px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 8px;
}

div.card-container div.card-container--value{
    display: flex;
    justify-content: space-between;
}

/*Estilização do Formulário*/
aside{
    padding: 40px;
    width: 20vw;
}

form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input{
    padding: 10px;
    border-radius: 30px;
    border: 2px solid rgba(3, 49, 140, 1);
    font-family: 'IBM Plex Mono';
    font-size: 16px;
}

form input::placeholder{
    color: rgba(3, 49, 140, 1);
}

form input:focus-visible{
    outline: none;
}

form button{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(3, 49, 140, 1);
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: white;
    width: 100%;
}

#guardar{
    background-color: rgba(3, 49, 140, 1);
}

#limpar{
    color: rgba(3, 49, 140, 1);
    background-color: #fff;
}

form div.buttons{
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

/*Estilização do Rodapé*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 232px;
    background-color: rgba(83, 0, 200, 1);
    box-shadow: 0px -7px 0px 0px rgba(0, 0, 0, 0.24);
    color: white;
}

footer div{
    display: flex;
    align-items: center;
}

footer h1{
    font-size: 24px;
}

footer img{
    width: 138px;
    margin: 10px;
}

footer p{
    font-size: 16px;
    font-family: 'IBM Plex Mono';
}

/* Responsividade */
@media screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    aside{
        width: 60vw;
    }

    main section{
        width: 80vw;
    }

    div.card{
        justify-content: flex-start;
        flex-wrap: nowrap;
        height: 360px;
        padding: 0px;
        box-shadow: none;
    }
}